# Set Data Type

Set is store multiple value in variable with unique value

### Some Properties of set

i) Unindexed
ii) Unordered
iii) immutable
iv) Duplicate are not allowed
v) Any data type are allowed
vi) Mixed different data type

In [1]:
set={12,433,443,57}
print(type(set),set)

<class 'set'> {433, 443, 12, 57}

# Empty set

In [4]:
set={} # data type is dictionary
print(type(set),set)

<class 'dict'> {}

In [1]:
set1=set()  # this is set data type
print(type(set1),set1)

<class 'set'> set()

# Properties of set

## 1 Unordered

In [22]:
set={234,54,676,76,43}
print(set)

{676, 54, 234, 43, 76}

## 2 No Indexing and No Slicing

In [23]:
set={23,23,45,76,76}
print(set[3])

TypeError: 'set' object is not subscriptable

## 3 Immutable

In [24]:
set={23,23,554,56,76}
set[2]=500
print(set)

TypeError: 'set' object does not support item assignment

## 4 Duplicate are not allowed( Means only one frequency count in set)

In [25]:
set={23,54,56,76,776,89,34,23,34}
print(set)

{34, 54, 23, 776, 89, 56, 76}

## Mixed Data type are allowed

In [36]:
set={23,23,65,"Birbal","Arvind"}
print("Length is: ",len(set))
print(set)

Length is:  4
{65, 'Birbal', 'Arvind', 23}

# TypeCasting

In [28]:
# Set to list
set={23,43,55,65}
lt=list(set)
print(set,type(lt))

{65, 43, 23, 55} <class 'list'>

In [2]:
# List to set
list=[23,343,56,76,45]
st=set(list)
print(st)

{76, 45, 23, 343, 56}

# Hashable Element

only set allow immutable data type.
 Like that

In [33]:
set={12,33,4,56,67,(23,44,56)} # This allow only when Tuple is immutable
print(set,type(set))

{33, 67, 4, (23, 44, 56), 56, 12} <class 'set'>

In [34]:
set={12,33,4,56,67,[23,44,56]} # This is not allow because List is Mutable data type
print(set,type(set))

TypeError: unhashable type: 'list'

In [35]:
set={12,33,4,56,67,{"a":100,"b":200}} # This is also Mutable data type
print(set,type(set))

TypeError: unhashable type: 'dict'

# Add items

## If you are create set then you are not change items but you can add items

In [39]:
set={'Birbal',"Gautam","Harishankar"}
set.add("Kumar Birbal")
print(set,type(set))

{'Gautam', 'Kumar Birbal', 'Harishankar', 'Birbal'} <class 'set'>

## Remove,Discard,Clear and Pop Method

In [43]:
set={'Birbal',"Gautam","Harishankar"}
set.remove('Birbal') # This is give error if value is not present in set
print(set)

{'Gautam', 'Harishankar'}

In [53]:
set={'Birbal',"Gautam","Harishankar"}
set.discard('Gautam') # This is not give error if value is not present in set
print(set)

{'Harishankar', 'Birbal'}

In [46]:
set={'Birbal',"Gautam","Harishankar",23,44,55,65}
print(set.pop())

Gautam

In [47]:
print(set.pop())

65

In [48]:
set={'Birbal',"Gautam","Harishankar",23,44,55,65}
set.clear()
print(set,type(set))

set() <class 'set'>

# Update/Union Method

In [51]:
set1={'Birbal',"Gautam","Harishankar",23,44,55,65}
set2={12,21,78}
set1.update(set2)
print(set1)

{'Gautam', 65, 44, 12, 78, 'Birbal', 'Harishankar', 55, 21, 23}

In [54]:
set1={'Birbal',"Gautam","Harishankar",23,44,55,65}
set2={12,21,78}
set3=set1.union(set2)
print(set3)

{'Gautam', 65, 44, 12, 78, 'Birbal', 'Harishankar', 55, 21, 23}

# Intersection_update

Keep only duplicates items while joining

In [55]:
set1={'Birbal',"Gautam","Harishankar",12,44,55,65}
set2={12,21,78,'Birbal'}
set1.intersection_update(set2)
print(set1,type(set))

{12, 'Birbal'} <class 'set'>

# Symmateric_difference_update

if items is duplicate then will be not join that value

In [57]:
set1={'Birbal',"Gautam","Harishankar",12,44,55,65}
set2={12,21,78,'Birbal'}
set1.symmetric_difference_update(set2)
print(set1)

{'Gautam', 65, 78, 21, 44, 'Harishankar', 55}

# Some Problem on Set Data Type

# <<<<<<<<<<<<<<<<<<<<<<<<<<